.span {
    color: red;
    display: flex;
    align-items: flex-start;
}

.span:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid green;
    border-radius: 6px;
    width: 200px;
}

.span img {
    height: 20px;
}

.input {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid green;
    border-radius: 6px;
    width: 200px;
}